<!DOCTYPE html>
<html>
    <head>
<h1>Welcome to Learn Hand Drawn Animation.com!</h1>

    </head>
    
    <body>
        <i><h2>Learn how to draw traditional style animation!<h2><i>
          <body style="background-color:Orange;">  
            <h3>

                 <button type="button">Sign In</button>
            <h3>
                            <h3>
           
               <button type="button">Sign Up</button>
            <h3>            <h3>
            
               
                <button type="button">About this Website</button>
            <h3>            <h3>

                               <button type="button">Gallery</button>
            <h3>
                

            
            </body>
            </html>
            