<!DOCTYPE html>
<html>
    <head>
<h1>Welcome to Learn Hand Drawn Animation.com!</h1>

    </head>
    
    <body>
        <i><h2>Learn how to draw traditional style animation!<h2><i>
          <body style="background-color:Orange;">  
            <h3>
                 <p style="color:blue;">Sign In </p> 
            <h3>
                            <h3>
               <p style="color:green; margin: 10px;">Sign Up</p> 
            <h3>            <h3>
               <p style="color:green;">About this Website</p>  
            <h3>            <h3>
               <p style="color:lightgreen;">Gallery</p>    
            <h3>
                
            
            </body>
            </html>
            